<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739142156848-63avbd390ma074lkn1shs9mu9ckl3j7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739142156848-63avbd390ma074lkn1shs9mu9ckl3j7a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739142156848-d6ibn4fv6mr8qdcumvhqi5l8jti0i5ru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqPxFgPcqwj21QRdGt7Y8CJrQGUVfsFwE</string>
	<key>GCM_SENDER_ID</key>
	<string>739142156848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shrimadbhagwat.theclassroom.theClassroom.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>the-classroom-15b52</string>
	<key>STORAGE_BUCKET</key>
	<string>the-classroom-15b52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739142156848:ios:7b095fece52ae27f51a3f5</string>
	<key>DATABASE_URL</key>
	<string>https://the-classroom-15b52-default-rtdb.firebaseio.com</string>
</dict>
</plist>